<div class="container">
  <form class="form">
    <h1>Quote Form</h1>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Quote</span>
      </div>
      <input name="quote"type="text" class="form-control" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Coined By</span>
      </div>
      <input name="author" type="text" class="form-control" required>
    </div>
    <button class="btn">Save quote</button>
  </form>
</div>
