<div class="container">
  <form class="form">
    <h1>Book Form</h1>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Book title</span>
      </div>
      <input name="title" type="text" class="form-control" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Author(s)</span>
      </div>
      <input name="author" type="text" class="form-control" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Year of publishing</span>
      </div>
      <input name="year" type="number" min="1750" max="2024" class="form-control" required>
    </div>
    <button>Save book</button>
  </form>
</div>
