<div class="container form-container">
  <form>
    <h1>Sign in</h1>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Username</span>
      </div>
      <input name="username" type="text" class="form-control" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input name="password" type="password" class="form-control" required>
    </div>
    <button> Sign In </button>
  </form>
</div>
